/* Custom Styles */

.navbar-bg {
  background-color: #1A3254;
}

.text-white {
  color: #FFFFFF;
  text-decoration: none;
}

.button-white {
  background-color: #1A3254;
  border-color: #FFFFFF;
  color: #FFFFFF;
}


.card-text {
  font-family: Cambria, serif;
}

@media screen and (max-width: 768px){
  .display-4 {
    font-size: 40px;
  }
}

.btn-outline-success {
  color: #FFFFFF;
  border-color: #FFFFFF;
}

.btn-outline-success:not(:disabled):not(.disabled).active, .btn-outline-success:not(:disabled):not(.disabled):active, .show>.btn-outline-success.dropdown-toggle {
    color: #FFFFFF;
    background-color: #CECECE;
    border-color: #CECECE;
