/* Custom Styles */

.navy-bg {
  background-color: #1A3254;
}

.text-white {
  color: #FFFFFF;
  text-decoration: none;
}

.button-white {
  background-color: #1A3254;
  border-color: #FFFFFF;
  color: #FFFFFF;
}


.card-text {
  font-family: Cambria, serif;
}

@media screen and (max-width: 768px){
  .display-4 {
    font-size: 40px;
  }
}

.btn:hover, .btn:focus, .btn:active, .btn.active, .open>.dropdown-toggle.btn{
    color: #FFFFFF;
    background-color: #142640;
}

.btn{
        color: #FFFFFF;
        background-color: #1A3254;
        border-color: #FFFFFF;
    }
